spring:
  kafka:
    bootstrapServers: localhost:9094
fhir:
  url: http://localhost:8082/fhir
  filter:
    expression: "true"
  auth:
    basic:
      enabled: true
      username: "test"
      # kics-scan ignore-line
      password: "test"
  merge-batches-into-single-bundle:
    enabled: true
    bundle-max-size: 25

s3:
  enabled: false
  endpoint-url: "http://localhost:9000"
  access-key: "admin"
  secret-key: "miniopass"
  object-name-prefix: "dev/test/prefix/"

logging:
  level:
    org.miracum: debug
